body{background-image:url("../img/background.jpg") !important;height:100%;background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover;}
header.jumbotron{min-height: 400px;}
.navbar{background-color:#fd879f;}
.navbar-default a{color:#fff !important;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{background-color:rgba(255, 205, 219, 1) !important;}
header.jumbotron{width:100%;height:100%;max-height:400px;background-color:rgba(119, 153, 242, 0.5);background-image:url("/public/img/jumbotron_bg.jpg");background-size:100% 100%;background-repeat:no-repeat;background-attachment:local;}
.jumbotron h1,
.jumbotron p{text-align:center;color:#fd879f !important;font-family:'Pacifico', cursive;}
.jumbotron h1{letter-spacing:20px;}
.showCompetition:hover{transform:scale(1.1);}
.thumbnail{padding:5px;text-align:center;}
.thumbnail img{max-width:100%;height:18vh;}
.thumbnail .caption-full{padding:9px;}
.caption{height:15vh;}
.thumbnail h4{background-color:#fd879f;padding:5px;margin-top:0px;color:#fff;font-family:'Pacifico', cursive;}
.thumbnail p{padding:10px;margin-top:0px;color:#fd879f;font-family:'Pacifico', cursive;}
.showCompLeft img{height:auto;min-width:100%}
.btn-primary,
.btn-success{background-color:#ffacc3 !important;opacity:0.6}
.btn-primary:hover,
.btn-success:hover{background-color:rgba(119, 153, 242, 0.5);!important;opacity:1}
.commentBtn,
.editBtn{margin:10px;}
.commentBtnRow{text-align:center;}
.competitorShow h1{color:rgba(253, 135, 159, 1);font-family:'Pacifico', cursive;}
.descriptionRow p{margin:10px;background-color:rgba(253, 135, 159, 0.8);color:#fff;font-family:'Pacifico', cursive;}
#delete-form{display:inline;}
iframe{border:none;}
.bs-example{margin:3px;}
.modal-content iframe{margin:0 auto;display:block;}
div.bs-example > a{padding:1px;}
.intrinsic-container{position:relative;height:0;overflow:hidden;}
.intrinsic-container-16x9{padding-bottom:56.25%;}
.intrinsic-container-4x3{padding-bottom:75%;}
.intrinsic-container iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute;top:0;left:0;z-index:9999;overflow:hidden;-webkit-transform:translate3d(0,0,0);}
#cboxWrapper{max-width:none;}
#cboxOverlay{position:fixed;width:100%;height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;-webkit-overflow-scrolling:touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute;top:0;left:0;width:100%;height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left;margin:auto;border:0;display:block;max-width:none;-ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%;height:100%;display:block;border:0;padding:0;margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;}
#cboxOverlay{background:#fff;opacity:0.9;filter:alpha(opacity = 90);}
#colorbox{outline:0;}
#cboxContent{margin-top:32px;overflow:visible;background:#000;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px;border:1px solid #ccc;}
#cboxLoadedContent{background:#000;padding:1px;}
#cboxLoadingGraphic{background:url(../img/loading.gif) no-repeat center center;}
#cboxLoadingOverlay{background:#000;}
#cboxTitle{position:absolute;top:-22px;left:0;color:#000;}
#cboxCurrent{position:absolute;top:-22px;right:205px;text-indent:-9999px;}
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active{outline:0;}
#cboxPrevious{background-position:0px 0px;right:44px;}
#cboxPrevious:hover{background-position:0px -25px;}
#cboxNext{background-position:-25px 0px;right:22px;}
#cboxNext:hover{background-position:-25px -25px;}
#cboxClose{background-position:-50px 0px;right:0;}
#cboxClose:hover{background-position:-50px -25px;}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px;right:44px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px;right:44px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}
