<!DOCTYPE html>
<html>

<head>
    <title>Lili és Nati RG Galériája</title>
    <!-- Latest compiled and minified CSS -->
    <link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS   -->
    <link rel="stylesheet preload" as="style" href="/public/stylesheets/main.css" type="text/css">    
    <link rel="stylesheet preload" as="style" href="/public/stylesheets/landing.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
<!-- Custom FONT   -->
<link href="https://fonts.googleapis.com/css?family=Pacifico&amp;subset=latin-ext" rel="stylesheet">

</head>

<div class="container">
    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
                <% } %>
</div>

<div id="landing-header">
    <h1>Welcome to <br> Lili & Nati RG Gallery</h1>
    <a href="/competitions" class="btn btn-sm btn-success">View All Competitions</a>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
</ul>


<% include partials/footer %>
